<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharesafe_input</title>
</head>
<body>
    <b>Select your file:</b>
    <div class="form-group">
    <form method="post"
        enctype="multipart/form-data">
        <div style="display: flex;">
            <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css">
            <input type="file" name="path" id="path" multiple class="form-control" style="margin-right: 2em;">
            <br>
            <button type="submit">Upload</button>
        </div>
    </form>
</body>
</html>