<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sharesafe_input</title>
</head>
<body>
    <h4>Enter Absolute Filepath:</h4>
    <form method="post">
        <div class="form__fieldset">
         <label for="path" class="form__label">Enter Path: </label>
         <input type="text" name="path" id="path" class="form__input"/>
        </div>
        <br>
        <button type="submit">Upload</button>

    </form>


</body>
</html>